<%= javascript_tag "Editable.setupAll();" %>
<div id="providers">
<table>
    <tr>
        <th>Name</th>
        <th>Long Name</th>
        <th>Description</th>
        <th>Main URL</th>
        <th>API Doc URL</th>
        <th>State</th>
        <th>Adapter Class</th>
    </tr>
    <tbody id="provider_records">
        <%= render :partial => "provider", :collection => @providers %>
    </tbody>
</table>
</div>
