<% subtitle "New Cloud Provider" %>

<h1>
  <%= link_to 'Admin Controls', admin_controls_path %>
  / <%= link_to 'Available Cloud Providers', providers_path %>
  / New Cloud Provider
</h1>

<br/>

<%= render :partial => 'form' %>