<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>
      Instances
    </th>
	<th>&nbsp;</th>
  </tr>
  </thead>
  <tbody id="cluster_records">
    <%= render :partial => "cluster", :collection => clusters %>
  </tbody>
</table>

