<% subtitle h(@provider_account.nil? ? '' : @provider_account.name + ': ') + 'New Cluster' %>

<h1><%= pagetitle h(@provider_account.nil? ? '' : @provider_account.name + ': ') + 'New Cluster' %></h1>

<br />

<% form_for :cluster,
    :url => clusters_path do |f| %>
    <%= render :partial => 'fields', :locals => { :f => f } %>
    <%= submit_tag 'Cancel', :name => 'cancel_button' %>
<% end %>
