<h1>Editing operating_system</h1>

<% form_for(@operating_system) do |f| %>
  <%= render :partial => 'fields', :locals => { :f => f } %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @operating_system %> |
<%= link_to 'Back', operating_systems_path %>
