<h1>New operating_system</h1>

<% form_for(@operating_system) do |f| %>
  <%= render :partial => 'fields', :locals => { :f => f } %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', operating_systems_path %>
