<h1>New instance_type_category</h1>

<% form_for(@instance_type_category) do |f| %>
  <%= render :partial => 'fields', :locals => { :f => f } %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', instance_type_categories_path %>
