<% subtitle @server %>

<h1><%= pagetitle @server %></h1>

<br />

<% form_for :server,
    :url => server_path(@server),
    :html => { :method => 'put' } do |f| %>
    <%= render :partial => 'fields', :locals => { :f => f } %>
    <%= submit_tag 'Update Server', :disable_with => "Updating&hellip;"  %>
    <%= submit_tag 'Cancel', :name => 'cancel_button' %>
<% end %>
