<% @error_messages ||= [] -%>
<div style=" #position: absolute;  #top: 50%;display: table-cell; vertical-align: middle; text-align: center">
<div style=" #position: relative; #top: -50%">
<%= @error_message -%><%= @error_messages.join('<br/>') -%><br/><br/>
<%= submit_tag "OK", :onclick => "$('error_redbox').hide(); return false;" %>
</div>
</div>
