<div style=" #position: absolute;  #top: 50%;display: table-cell; vertical-align: middle; text-align: center">
<div style=" #position: relative; #top: -50%">
<%= @notice_message -%><br/><br/>
<%= submit_tag "OK", :onclick => "$('notice_redbox').hide(); return false;" %>
</div>
</div>
