Search: <%= will_paginate_search_field 'security_group_search', 'security_groups', nil, :list %>

<%= refresh_image 'Refresh', 'security_groups', nil, :list %>

<b>Total: <span id="security_groups_total"><%= @security_groups.total_entries %></span></b>

<hr>

<%= render :partial => "security_groups/list" %>
