<% subtitle h(@server.name)+': New Task' %>

<h1><%= pagetitle h(@server.name)+': New Task' %></h1>

<br />

<% form_for :server_task,
    :url => server_server_tasks_path(@server) do |f| %>
    <%= render :partial => 'server_tasks/fields', :locals => { :f => f } %>
    <%= submit_tag 'Create Task', :disable_with => "Creating&hellip;" %>
    <%= submit_tag 'Cancel', :name => 'cancel_button' %>
<% end %>
