<% subtitle "Edit Service Provider" %>

<h1>
  <%= link_to 'Admin Controls', admin_controls_path %>
  / <%= link_to 'Service Providers', service_providers_path %>
  / Edit Service Provider
</h1>

<br/>

<%= render :partial => 'form' %>