<% subtitle "Edit Instance Category" %>

<h1>
  <%= link_to 'Admin Controls', admin_controls_path %>
  / <%= link_to 'Available Instance Types', send("#{ @parent_type }_instance_kind_categories_path", @parent) %>
  / Edit Instance Category
</h1>

<br/>

<%= render :partial => 'form' %>