<% subtitle "New Instance Category" %>

<h1>
  <%= link_to 'Admin Controls', admin_controls_path %>
  / <%= link_to 'Available Instance Types', instance_kind_categories_path %>
  / New Instance Category
</h1>

<br/>

<%= render :partial => 'form' %>