<% subtitle 'Resources' %>

<br />

<table>
  <tr>
    <th>Accounts</th>
    <td><%= @provider_accounts_count %></td>
  </tr>
  <tr>
    <th>Security Groups</th>
    <td><%= @security_groups_count %></td>
  </tr>
  <tr>
    <th>Servers</th>
    <td><%= @servers_count %></td>
  </tr>
</table>


