<h1>New instance_kind</h1>

<% form_for(@instance_kind) do |f| %>
  <%= render :partial => 'fields', :locals => { :f => f } %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', instance_kinds_path %>
