<% subtitle h(@task.server.name)+': '+h(@task.operation) %>

<h1><%= pagetitle h(@task.server.name)+': '+h(@task.operation)  %></h1>

<br />

<% form_for :task,
    :url => server_task_path(@server, @task),
    :html => { :method => 'put' } do |f| %>
    <%= render :partial => 'tasks/fields', :locals => { :f => f } %>
    <%= submit_tag "Update", :disable_with => "Updating&hellip;"  %>
    <%= submit_tag 'Cancel', :name => 'cancel_button' %>
<% end %>

