<% subtitle h(@provider_account.nil? ? '' : @provider_account.name + ': ') + 'Firewall Rules' %>

<h1><%= pagetitle h(@provider_account.nil? ? '' : @provider_account.name + ': ') + 'Firewall Rules' %></h1>

<br />

<% @provider_accounts.each do |provider_account| %>
<span <% if provider_account.id == @provider_account.id %>class='selected'<% else %>class='selectable'<% end %>>
<%= selectable_filter_link provider_account.name, provider_account_firewall_rules_path(provider_account), 'firewall_rules' %></span>&nbsp;
<% end %>

<br />
<br />

<% form_for @provider_account,
    :url => update_provider_account_firewall_rules_path(@provider_account) do |f| %>
  <%= render :partial => "firewall_rules/list", :object => @provider_account, :locals => { :f => f }  %>
<% end %>

