<% subtitle "Edit Service Type" %>

<h1>
  <%= link_to 'Admin Controls', admin_controls_path %>
  / <%= link_to 'Service Types', service_types_path %>
  / Edit Service Type
</h1>

<br/>

<%= render :partial => 'form' %>