<% subtitle "Edit Service Override" %>

<h1>
  <%= link_to 'Admin Controls', admin_controls_path %>
  / <%= link_to 'Service Overrides', service_overrides_path %>
  / Edit Service Override
</h1>

<br/>

<%= render :partial => 'form' %>