<% subtitle "Edit Region" %>

<h1>
  <%= link_to 'Admin Controls', admin_controls_path %>
  / <%= link_to 'Available Regions', regions_path %>
  / Edit Region
</h1>

<br/>

<%= render :partial => 'form' %>